<head>
    <script src = "/js/include.js" defer></script>
    <meta charset="UTF-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180549038-1"></script>
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=Z7ZYRKp_O9DFEvt_2YkxdESPbs1vqhD5eorXyE1cMjc"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-180549038-1');
    </script>


    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
